@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
.logoContainer {

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100px;
    height: 100%;
}


.logo__lottie {
    position: absolute;
    width: 170px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
}

.logo {
    color: #fff;
    font-family: 'Chewy', cursive;
    font-size: 1.5rem;
    font-weight: 1000;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-rendering: optimizeLegibility;
    z-index: 1;

}
.logo__simbol {
    font-family: "Segoe UI Symbol", "Arial", sans-serif; /* Replace with a font that supports musical symbols */
  }

@keyframes pulse {
    0% {
        transform: scale(1) translate(-50%, -50%);
    }

    50% {
        transform: scale(1.1) translate(-50%, -50%);
    }

    100% {
        transform: scale(1) translate(-50%, -50%);
    }
}


.logo>span {

    animation: pulse 2s infinite;
}